MONGODB_URI=mongodb+srv://<usuario>:<contraseña>@<cluster>.mongodb.net/APIReact?retryWrites=true&w=majority
JWT_SECRET=cambia_esto_por_algo_secreto_y_largo
PORT=5000
FRONTEND_URL=https://tu-frontend.vercel.app
